# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build folders
# =========================
**/bin/
**/obj/

# =========================
# Rider / VSCode
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Node (si tienes frontend)
# =========================
node_modules/
dist/
build/
.next/
coverage/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
desktop.ini