@page "/laboratorio/carga"

<div class="dm-page">

    <div class="dm-page-header">
        <h1>Carga de Resultados</h1>
        <p>Procesamiento estructurado y validado de datos clínicos</p>
    </div>

 

</div>